@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}

main {
  width: 23.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.desktop-purple {
  display: none;
}

.purple {
  position: relative;
  margin-bottom: 4.8rem;
}

.card-back {
  transform: scaleX(0.639) scaleY(0.639);
  position: absolute;
  top: -12px;
  left: -8px;
  z-index: 1;
}

.card-back-span {
  letter-spacing: 0.05rem;
  color: hsl(270, 3%, 87%);
  font-size: 0.6rem;
  position: absolute;
  top: 104px;
  right: 58px;
  z-index: 3;
}

.card-front {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0.639);
  position: absolute;
  bottom: -77px;
  right: -6px;
  z-index: 2;
  box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.2);
}

.card-logo {
  transform: scale(0.6);
  position: absolute;
  top: 130px;
  left: 18px;
  z-index: 3;
}

#card-front-number {
  letter-spacing: 0.135rem;
  color: hsl(270, 3%, 87%);
  position: absolute;
  bottom: 15px;
  left: 36px;
  z-index: 4;
}

.card-front-name {
  letter-spacing: 0.05rem;
  color: hsl(270, 3%, 87%);
  font-size: 0.6rem;
  position: absolute;
  bottom: -15px;
  left: 36px;
  z-index: 4;
  text-transform: uppercase;
}

.card-front-exp {
  letter-spacing: 0.05rem;
  color: hsl(270, 3%, 87%);
  font-size: 0.6rem;
  position: absolute;
  bottom: -15px;
  right: 96px;
  z-index: 4;
  text-transform: uppercase;
}

.right {
  padding: 0 1.5rem;
}

.form {
  position: relative;
}

label {
  color: hsl(278, 68%, 11%);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

input {
  height: 2.8rem;
  border-radius: 0.6rem;
  padding-left: 1rem;
  border: 1px solid hsl(270, 3%, 87%);
  font: inherit;
  margin-top: 0.4rem;
  color: hsl(278, 68%, 11%);
}

input:focus {
  outline: none;
  border: 1px solid hsl(278, 68%, 11%);
}

input::placeholder {
  color: hsl(260, 3%, 81%);
}

#name {
  width: 100%;
  margin-bottom: 0.8rem;
}

#card-number {
  width: 100%;
}

.inputs-container {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1rem 3rem;
}

.exp-label {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#exp-date-mth {
  width: 90%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#exp-date-yr {
  width: 90%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cvc-label {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#cvc {
  width: 100%;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.button,
.complete-button {
  background: hsl(278, 68%, 11%);
  color: hsl(260, 3%, 81%);
  font: inherit;
  width: 100%;
  height: 3.4rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:active,
.complete-button:hover,
.complete-button:active {
  background: hsl(278, 66%, 25%);
}

.name-error {
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
  top: 75px;
  display: none;
}

.num-error {
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
  top: 162px;
  display: none;
}

.exp-mth-error {
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
  bottom: 70px;
  left: 0;
  display: none;
}

.exp-yr-error {
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
  bottom: 70px;
  left: 83px;
  display: none;
}

.cvc-error {
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
  position: absolute;
  bottom: 70px;
  left: 165px;
  display: none;
}

.error {
  border: 1px solid hsl(0, 100%, 66%);
}

.complete {
  padding-top: 0.4rem;
  text-align: center;
  display: none;
}

.complete h1 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: hsl(278, 68%, 11%);
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.complete p {
  color: hsl(279, 6%, 55%);
  margin-bottom: 3rem;
}

@media (min-width: 78rem) {
  main {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding-bottom: 0;
  }
  .purple {
    position: relative;
    margin-bottom: 0;
  }
  .mobile-purple {
    display: none;
  }
  .desktop-purple {
    display: block;
  }
  .card-back {
    transform: scale(1);
    position: absolute;
    top: 52%;
    left: 54%;
    z-index: 2;
    background: transparent;
    border-radius: 0.6rem;
    box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.2);
  }
  .card-back-span {
    letter-spacing: 0.05rem;
    color: hsl(270, 3%, 87%);
    font-size: 0.9rem;
    position: absolute;
    top: 64.4%;
    left: 128.5%;
    z-index: 3;
  }
  .card-front {
    background: transparent;
    border-radius: 0.6rem;
    transform: scale(1);
    position: absolute;
    top: 20.5%;
    left: 35%;
    z-index: 2;
  }
  .card-logo {
    transform: scale(1);
    position: absolute;
    top: 23.5%;
    left: 42%;
    z-index: 3;
  }
  #card-front-number {
    height: 1.8rem;
    width: 85%;
    font-size: 1.8rem;
    letter-spacing: 0.135rem;
    color: hsl(270, 3%, 87%);
    position: absolute;
    top: 36%;
    left: 42%;
    z-index: 4;
  }
  .card-front-name {
    letter-spacing: 0.08rem;
    color: hsl(270, 3%, 87%);
    font-size: 0.9rem;
    position: absolute;
    top: 43%;
    left: 42%;
    z-index: 4;
    text-transform: uppercase;
  }
  .card-front-exp {
    letter-spacing: 0.08rem;
    color: hsl(270, 3%, 87%);
    font-size: 0.9rem;
    position: absolute;
    top: 43%;
    left: 110.5%;
    z-index: 4;
    text-transform: uppercase;
  }
  .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .form {
    width: 23.75rem;
  }
  #name {
    margin-bottom: 1.4rem;
  }
  .inputs-container {
    margin-top: 1.6rem;
    margin-bottom: 2.6rem;
  }
  .name-error {
    font-size: 0.8rem;
    top: 78px;
  }
  .num-error {
    font-size: 0.8rem;
    top: 174px;
  }
  .exp-mth-error {
    font-size: 0.8rem;
    bottom: 70px;
    left: 0;
  }
  .exp-yr-error {
    font-size: 0.8rem;
    bottom: 70px;
    left: 95px;
  }
  .cvc-error {
    font-size: 0.8rem;
    bottom: 70px;
    left: 191px;
  }
  .complete {
    width: 23.75rem;
    display: none;
  }
}
